* {
  padding: 0;
  margin: 0;
  
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .paused {
    animation-play-state: paused;
  }
}

body {
  font-family: sans-serif;
  font-size: 1.5rem;
}

img {
  max-width: 50vw;
  max-height: 25vw;
  display: block;
  margin: auto;
}

form {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-flow: row wrap;
  max-width: 40vw;
  margin: 0 auto;
  align-items: baseline;
  flex-direction: column;
}

.form-group {
  flex-grow: 1;
  position: relative;
  width: 100%;
  margin-bottom: 1em;
}

.form-group label {
  display: block;
  margin-bottom: 1em;
  font-weight: bold;
  color: #232F34;
}

.form-group input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
}

.form-group textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.5em;
  resize: vertical;
}

// button[type="submit"] {
//   padding: 5px 20px;
//   margin: 10px auto;
//   float: right;
// }

.title {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 32px;
}

.location {
  font-weight: 500;
  margin-bottom: 8px;
  color: #222;
  font-size: 16px;
}

.body {
  font-size: 18px;
}

#report {
  margin: 20px;
  padding: 10px 60px;
  border: 1px solid #222;
  color: white;
}

#report:empty {
  display: none;
}
